<h1>Goodbye</h1>
<p>
	Say <a href="/say/hello">Hello</a>!
	<ul>
		<%= link_to "hello!",say_hello_path %>
		1+2=<%= 1+2 %>
		cow+boy=<%= "cow" +  "boy"%>
		Time in one hour <%= 1.hour.from_now %>
	</ul>
</p>
