<h1>Hello from rails</h1>
<p>
	It is now <%= Time.now %>
	<ul>
		It is now <%= @time %>
	</ul>
	<ul>
		say <a href="/say/goodbye"> Goodbye!</a>!
	</ul>
	<ul>
		<%= link_to "goodbye!",say_goodbye_path %>
	</ul>
	<ul>
		<% for file in @files %>
			<ul>file name is : <%= file %></ul>
		<% end %>
	</ul>
</p>
